.container {
    border: 10px solid white;
    width: 80%;
    margin: auto;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.lbtn {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.rbtn {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}