.container {
    width: 80%;
    margin: auto;
    padding-right: 50px;
}
.outercontainer{
    display: flex;
}
.item{
    padding: 0px 50px;
}

/* Media Queries */

/* Above Tablet */
@media only screen and (min-width: 1024px) {
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
    .outercontainer{
        flex-direction: column;
    }
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
}
