.mainbox {
  display: block;
  font-size: 52px;
  color: transparent;
  position: absolute;
  z-index: -1;
}

.mainbox::before,
.mainbox::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -7s move infinite ease-in-out alternate;
}

.mainbox::before {
  text-shadow: 0.022002755em 1.9630926866em 7px rgba(255, 205, 0, 0.9), 
               2.1463214406em 1.4724247769em 7px rgba(185, 255, 0, 0.9), 
               0.9740840995em -0.2851753172em 7px rgba(255, 31, 0, 0.9), 
               0.7448466381em 0.7490199887em 7px rgba(0, 30, 255, 0.9), 
               1.2309773069em 1.4407511739em 7px rgba(255, 0, 254, 0.9), 
               2.362050242em 0.2742923694em 7px rgba(255, 0, 87, 0.9), 
               1.8742036126em -0.2792419804em 7px rgba(231, 255, 0, 0.9), 
               1.3469332335em 0.3837134731em 7px rgba(255, 185, 0, 0.9), 
               1.5664424531em 1.183262156em 7px rgba(186, 0, 255, 0.9), 
               0.0428045061em 2.1514730533em 7px rgba(31, 0, 255, 0.9), 
               0.7908589146em 2.2184163864em 7px rgba(255, 76, 0, 0.9), 
               1.9394877782em 2.124178533em 7px rgba(0, 255, 39, 0.9), 
               0.7596690424em 0.3564377337em 7px rgba(3, 0, 255, 0.9), 
               -0.173661002em 2.4319020363em 7px rgba(135, 255, 0, 0.9), 
               2.4556510049em 0.9944123286em 7px rgba(163, 0, 255, 0.9), 
               0.4406345778em 0.8875538909em 7px rgba(255, 0, 205, 0.9), 
               0.5901473632em 1.6244630374em 7px rgba(255, 23, 0, 0.9), 
               2.3112298306em 2.4184444245em 7px rgba(255, 101, 0, 0.9), 
               2.1876424729em 1.6201185901em 7px rgba(255, 0, 180, 0.9), 
               1.5489920321em 0.4629731586em 7px rgba(255, 154, 0, 0.9), 
               0.6917262725em 1.734761391em 7px rgba(0, 159, 255, 0.9), 
               0.961193557em -0.3746679191em 7px rgba(255, 63, 0, 0.9), 
               2.4369716565em 0.3244937826em 7px rgba(51, 0, 255, 0.9), 
               1.3763387205em 0.2643549396em 7px rgba(255, 231, 0, 0.9), 
               -0.2827147994em -0.1467172512em 7px rgba(0, 255, 118, 0.9), 
               0.0319107841em 0.2975966937em 7px rgba(52, 255, 0, 0.9), 
               -0.4382042782em -0.0294062915em 7px rgba(193, 255, 0, 0.9), 
               0.5676687744em 2.4215084044em 7px rgba(255, 39, 0, 0.9), 
               1.9511843384em 1.2161582491em 7px rgba(255, 219, 0, 0.9), 
               0.6675494315em 0.2169449844em 7px rgba(0, 232, 255, 0.9), 
               2.0822915025em 2.1014135515em 7px rgba(0, 255, 144, 0.9), 
               1.1234721756em 1.1699259563em 7px rgba(142, 255, 0, 0.9), 
               -0.2960367317em 0.0686852138em 7px rgba(0, 229, 255, 0.9), 
               -0.1172535732em 1.6347104575em 7px rgba(221, 0, 255, 0.9), 
               1.6351484578em 2.2183357306em 7px rgba(217, 0, 255, 0.9), 
               1.3137436042em -0.1138346947em 7px rgba(0, 255, 195, 0.9), 
               1.2920524377em -0.4125038698em 7px rgba(245, 0, 255, 0.9), 
               0.5354673441em 1.1132750544em 7px rgba(255, 130, 0, 0.9), 
               0.4087402173em 1.3242317787em 7px rgba(255, 0, 128, 0.9), 
               0.5393438919em 0.2974818807em 7px rgba(255, 91, 0, 0.9), 
               1.0465827409em 2.0444984444em 7px rgba(0, 251, 255, 0.9);
  animation-duration: 44s;
  animation-delay: -7s;
}

.mainbox::after {
  text-shadow: 2.0192548618em 1.2337228033em 7px rgba(145, 0, 255, 0.9), 
               -0.1898557086em 1.3600147751em 7px rgba(248, 0, 255, 0.9), 
               -0.4820512677em 0.6992123256em 7px rgba(0, 195, 255, 0.9), 
               1.5316596967em 0.4923016206em 7px rgba(255, 169, 0, 0.9), 
               0.3262670242em 0.7241949551em 7px rgba(0, 255, 232, 0.9), 
               0.274972202em 0.5943745252em 7px rgba(255, 248, 0, 0.9), 
               2.3532726272em 0.31715773em 7px rgba(61, 0, 255, 0.9), 
               2.4137061971em 0.1938143251em 7px rgba(45, 255, 0, 0.9), 
               0.4251583405em 1.7054755972em 7px rgba(177, 0, 255, 0.9), 
               0.5016109213em 2.0840559924em 7px rgba(0, 255, 104, 0.9), 
               1.9158053832em 1.262483565em 7px rgba(0, 255, 242, 0.9), 
               1.3630285712em 0.3620014189em 7px rgba(255, 0, 223, 0.9), 
               0.2777675932em 2.0757558093em 7px rgba(255, 0, 82, 0.9), 
               1.5028285433em 0.4075790948em 7px rgba(255, 59, 0, 0.9), 
               0.8681466059em 2.2282877868em 7px rgba(0, 18, 255, 0.9), 
               -0.0877568399em 1.092659955em 7px rgba(145, 255, 0, 0.9), 
               -0.2527694628em 2.1352463189em 7px rgba(0, 255, 113, 0.9), 
               -0.0892223101em 0.5388217245em 7px rgba(234, 0, 255, 0.9), 
               1.9216400197em -0.428515518em 7px rgba(195, 0, 255, 0.9), 
               0.8477688109em 1.1723734908em 7px rgba(77, 0, 255, 0.9), 
               -0.4523045153em 0.5097132548em 7px rgba(246, 255, 0, 0.9), 
               -0.0146273407em 1.6912459431em 7px rgba(0, 255, 83, 0.9), 
               2.3361313954em 0.1189342666em 7px rgba(0, 82, 255, 0.9), 
               -0.0545317332em 1.337637597em 7px rgba(0, 255, 17, 0.9), 
               0.5970709078em 0.3253923408em 7px rgba(255, 233, 0, 0.9), 
               0.6071923658em 1.4676345131em 7px rgba(0, 255, 123, 0.9), 
               1.787494797em -0.2488130038em 7px rgba(0, 255, 243, 0.9), 
               1.670619514em 0.5640014234em 7px rgba(145, 0, 255, 0.9), 
               1.7758230037em 1.6282608658em 7px rgba(0, 134, 255, 0.9), 
               1.8456918879em 1.9956748014em 7px rgba(11, 0, 255, 0.9), 
               2.4658284862em -0.2055409137em 7px rgba(0, 114, 255, 0.9), 
               0.4729555363em -0.3012591018em 7px rgba(0, 232, 255, 0.9), 
               1.1289091446em 0.070537765em 7px rgba(0, 255, 155, 0.9), 
               -0.1698106773em 1.2503187297em 7px rgba(255, 0, 137, 0.9), 
               -0.4097359834em 1.1411780306em 7px rgba(217, 0, 255, 0.9), 
               1.1676480054em 0.4579223632em 7px rgba(255, 0, 203, 0.9), 
               -0.0029946629em 0.6922678605em 7px rgba(12, 255, 0, 0.9), 
               0.7000858717em 0.1324967158em 7px rgba(0, 197, 255, 0.9), 
               1.4619021795em 2.199075383em 7px rgba(222, 0, 255, 0.9), 
               1.559396335em 0.6447042254em 7px rgba(0, 162, 255, 0.9), 
               2.3731394193em 0.8612042869em 7px rgba(255, 0, 128, 0.9);
  animation-duration: 43s;
  animation-delay: -5s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}



.contentbox{
    display:inline-flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    max-width: 85%;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #440bd48e, #ff207991);
    box-shadow: 0 4px 8px 5px rgba(255, 245, 245, 0.5), 0 6px 20px 3px rgba(245, 245, 245, 0.6);
    border-radius: 20px;
    margin: 30px 0px;
    
}
.instructionbox{
    margin: 10px;
    padding: 10px 30px;
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    border-radius: 0 20px 20px 0;
}
.instruction{
    padding-left: 15px;
    text-align: left;
    color: #e1e2e2;
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
}

.icon{
    min-width: 20px;
    max-width: 20px;
    height: 20px;
}
.instructionbox span{
  display: none;
  font-size: 1.3rem;
  padding-right: 5px;
}
.instructionbox:nth-child(odd) span{
  color:rgb(0, 231, 0);
}
.instructionbox:nth-child(even) span{
  color:rgb(231, 15, 0);
}
@media only screen and (min-width: 1024px) {
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .instructionbox{
    padding: 10px 0px;
    margin: 0;
  }
  .icon{
    display: none;
  }
  .instructionbox span{
    display: inline;
  }
  .instruction{
    padding-left: 2px;
    font-size: 1rem;
  }
  .contentbox{
    padding: 20px;
  }
  .insthead{
    font-size: 3rem;
  }
}

