.newsfeed{
    /* border:2px solid white; */
    text-align: left;
}

/* Media Queries */

/* Above Tablet */
@media only screen and (min-width: 1024px) {
    .newsfeed{
        width: 80%;
        margin: auto;
    }
    .newsfeed h1{
        text-align: center;
    }
    hr{
        border-style: dotted none none none;
        border-width: 3px;
        width: 80%;
    }
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
}
